.AddApp {
  text-align: center;
  width: 600px;
  margin-left: 20px;
  margin-top: 16px;
}

.AddAppInput {
  margin-left: 20px;
  margin-right: 20px;
}

.Image {
  display: block;
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 400px;
  margin-left: 20px;
}

.AddAppSaveButton {
  margin-left: 20px;
}

.AddAppImageDrop {
  margin-top: 8px;
  height: 50px;
  /*background: green;*/
  border: 1px solid green;
  margin-left: 20px;
  margin-right: 20px;
}