.Loader {
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 16px auto 0;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(480deg); }
}

.Cards {
  margin: 8px;
}
  
.AppCard {
  margin-top: 8px;
  background-color: white;
}
  
.AddAppFAB {
  margin: 8px;
}

.FABContainer {
  position: fixed;
  right: 16px;
  bottom: 16px;
}