.LoginButton {
  margin: 8px;
}

.LoginWelcomeText {
  font-size: 14pt;
}

.PreLoginContainer {
  padding-top: 16px;
  margin: auto;
  width: 50%;
  text-align: center;
}

.ErrorMessageContainer {
  color: red;
}
